<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<div class="container my-5">
    <h3> Login</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form th:action="@{/login}" method="post">
                    <p th:if="${isLocked == true}" style="color: red">account is locked now.</p>
                    <div th:if="${param.error}" class="alert alert-error" style="color: red">
                        Invalid username and password or account is locked
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success" style="color: greenyellow">
                        You have been logged out.
                    </div>

                    <div class="row">

                        <div class="form-group col-md-8">
                            <label for="username" class="col-form-label">Email</label> <input type="username"
                                                                                              class="form-control"
                                                                                              id="username"
                                                                                              name="username"
                                                                                              placeholder="Email">
                        </div>

                        <div class="form-group col-md-8">
                            <label for="password" class="col-form-label">Password</label> <input type="password"
                                                                                                 class="form-control"
                                                                                                 id="password"
                                                                                                 name="password"
                                                                                                 placeholder="Password">
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Login">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
            <a href="/signup" class="btn btn-primary" style="margin: 1%">Sign Up</a>
        </div>
    </div>
</div>
</body>

</html>

